src/main/resources/nczi-templates/COMMON/WSDL/ESBServiceExt/ServiceExt_2.XSD

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://eHealth.gov.sk/Common/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://eHealth.gov.sk/Common/v1"><xs:complexType name="UserContext"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Specialization"><xs:complexType><xs:complexContent mixed="false"><xs:extension base="tns:CV"/></xs:complexContent></xs:complexType></xs:element><xs:element minOccurs="0" maxOccurs="1" name="IdentifikatorOUPZS"><xs:complexType><xs:complexContent mixed="false"><xs:extension base="tns:II"/></xs:complexContent></xs:complexType></xs:element></xs:sequence></xs:complexType><xs:complexType name="CV"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="codingSchemeOID" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="codingSchemeVersion" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="codeValue" type="xs:string"/></xs:sequence></xs:complexType><xs:complexType name="II"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="extension" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="rootOID" type="xs:string"/></xs:sequence></xs:complexType><xs:complexType name="PacientSifrovanyIdentifikator"><xs:complexContent mixed="false"><xs:extension base="tns:II"/></xs:complexContent></xs:complexType></xs:schema>