src/main/resources/nczi-templates/MPD/XSD/_shared/MPD_Strankovanie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://eHealth.gov.sk/MPD/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://eHealth.gov.sk/MPD/v1" elementFormDefault="qualified">
  <xs:element name="Strankovanie" type="Strankovanie" />
  <xs:complexType name="Strankovanie">
    <xs:sequence>
      <xs:element name="IndexZaznamu" type="xs:int" minOccurs="1" maxOccurs="1" />
      <xs:element name="VelkostStranky" type="xs:int" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>