src/main/resources/nczi-templates/ALOK/Xsd/eobjednanie/DajKalendar_v2_Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://eHealth.gov.sk/EzkReservation/v1" elementFormDefault="qualified" targetNamespace="http://eHealth.gov.sk/EzkReservation/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="CEN/13606/RM" schemaLocation="EN13606-RM.xsd"/>
  
  <xs:element name="DajKalendarResponse" type="tns:DajKalendarResponse" />
  
  <xs:complexType name="DajKalendarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ZoznamKalendarov" type="tns:ArrayOfKalendar">
        <xs:annotation>
          <xs:documentation>Zoznam kalendárov s termínom spadajúcim do zadaného intervalu.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfKalendar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kalendar" nillable="true" type="tns:Kalendar" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Kalendar">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PotvrditObjednavkuAutomaticky" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Automaticky potvrdiť objednávku</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="1" maxOccurs="1" name="IdKalendara" type="xs:int">
        <xs:annotation>
          <xs:documentation>Interné ID.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="ExterneId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Externé ID pridelené kalendáru v systéme ISPZS pre identifikáciu kalendáru a kontrolu konzistencie dát.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="IdOUPZS" xmlns:q9="CEN/13606/RM" type="q9:II" />
      <xs:element minOccurs="1" maxOccurs="1" name="TypKalendara" type="tns:TypKalendara">
        <xs:annotation>
          <xs:documentation>Príznak, či sa jedné o kalendár importovaný z eVUC, alebo kalendár vytvorený a spravovaný PZS. Hodnota z vymenovaného typu.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="Nazov" type="xs:string">
        <xs:annotation>
          <xs:documentation>Názov kalendára. V prípade, že je vyplnený idVucPrevadzkovyCas, sa jedná o údaj importovaný z eVUC.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="PlatnostKalendaraOd" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Začiatok platnosti kalendára - od kedy je kalendár platný a od kedy sa má zverejňovať na NPZ. NULL = platnosť kalendára nie je do minulosti ohraničená. V prípade, že je vyplnený idVucPrevadzkovyCas, sa jedná o údaj importovaný z eVUC.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="PlatnostKalendaraDo" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Platnosť kalendára - do kedy je kalendár platný a do kedy sa má zverejňovať na NPZ. NULL = platnosť kalendára nie je do budúcna ohraničená. V prípade, že je vyplnený idVucPrevadzkovyCas, sa jedná o údaj importovaný z eVUC.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="Poplatok" type="xs:string">
        <xs:annotation>
          <xs:documentation>V prípade, že je vyplnený idVucPrevadzkovyCas, sa jedná o údaj importovaný z eVUC.</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element minOccurs="1" maxOccurs="1" name="JePotrebnyVymennyListok" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Príznak, či je za účelom vytvorenia objednávky v tomto kalendári požadovaný výmenný lístok.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="Poznamka" type="xs:string">
        <xs:annotation>
          <xs:documentation>Textová poznámka k celému kalendáru. V prípade, že je vyplnený idVucPrevadzkovyCas, sa jedná o údaj importovaný z eVUC.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="ZoznamCasovychIntervalov" type="tns:ArrayOfCasovyInterval">
        <xs:annotation>
          <xs:documentation>Množina časových intervalov daného kalendára</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="IdZmenil" xmlns:q10="CEN/13606/RM" type="q10:II" />
      <xs:element minOccurs="1" maxOccurs="1" name="Zmenene" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Dátum a čas vytvorenia alebo poslednej zmeny</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="Zmenil" type="xs:string">
        <xs:annotation>
          <xs:documentation>Zmenil</xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TypKalendara">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VUC" />
      <xs:enumeration value="PZS" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ArrayOfCasovyInterval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CasovyInterval" nillable="true" type="tns:CasovyInterval" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CasovyInterval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdKalendara" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:documentation>Id kalendára.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="IdIntervalu" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:documentation>Interné ID.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="1" maxOccurs="1" name="DenVTyzdni" type="tns:DenVTyzdni">
        <xs:annotation>
          <xs:documentation>Deň v týždni. Položka z vymenovaného typu.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="1" maxOccurs="1" name="TypIntervalu" type="tns:TypCasovehoIntervalu">
        <xs:annotation>
          <xs:documentation>Typ intervalu v kalendári. Rozlišuje medzi ordinačnými a doplnkovými ord. hodinami kalendára. Odkaz do číselníka.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="1" maxOccurs="1" name="DlzkaCasovehoSlotu" >
        <xs:annotation>
          <xs:documentation>Dĺžka časového slotu v minútach</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="5"/>
            <xs:maxInclusive value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element minOccurs="1" maxOccurs="1" name="MaxObjednavokNaCasovySlot" >
        <xs:annotation>
          <xs:documentation>Maximálny počet objednávok za časový úsek.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="Poznamka" type="xs:string">
        <xs:annotation>
          <xs:documentation>Poznámka</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="DruhVysetrenia" type="tns:ArrayOfCV">
        <xs:annotation>
          <xs:documentation>Zoznam druh vyšetrení, ktoré v tomto slote poskytuje PZS. Odkaz do JRUZ číselníka 1.3.158.00165387.100.10.324.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="CasOd" >
        <xs:annotation>
            <xs:documentation>Začiatok intervalu - čas v tvare HH:mm.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="CasDo" >
        <xs:annotation>
            <xs:documentation>Koniec intervalu - čas v tvare HH:mm.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DenVTyzdni">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pondelok" />
      <xs:enumeration value="Utorok" />
      <xs:enumeration value="Streda" />
      <xs:enumeration value="Stvrtok" />
      <xs:enumeration value="Piatok" />
      <xs:enumeration value="Sobota" />
      <xs:enumeration value="Nedela" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypCasovehoIntervalu">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OtvaracieHodiny" />
      <xs:enumeration value="OrdinacneHodiny" />
      <xs:enumeration value="DoplnkoveOrdinacneHodiny" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ArrayOfCV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CV" nillable="true" xmlns:q11="CEN/13606/RM" type="q11:CV" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
