src/main/resources/nczi-templates/ALOK/Xsd/eobjednanie/PotvrdTerminObjednavky_v2_Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://eHealth.gov.sk/EzkReservation/v1" elementFormDefault="qualified" targetNamespace="http://eHealth.gov.sk/EzkReservation/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="CEN/13606/RM" schemaLocation="EN13606-RM.xsd"/>

  <xs:element name="PotvrdTerminObjednavkyRequest" type="tns:PotvrdTerminObjednavkyRequest" />

  <xs:complexType name="PotvrdTerminObjednavkyRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NaplanovaneObjednavky" type="tns:ArrayOfNaplanovanaObjednavka">
            <xs:annotation>
              <xs:documentation>Pole Identifikátorov objednávok, ktoré majú byt potvrdené.</xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element minOccurs="0" maxOccurs="1" name="DatumPotvrdenia" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Dátum a čas kedy OÚ PZS potvrdil objednávku</xs:documentation>
            </xs:annotation>
          </xs:element>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BaseRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdOUPZS" xmlns:q12="CEN/13606/RM" type="q12:II">
        <xs:annotation>
          <xs:documentation>ID OU poskytovateľa zdravotnej starostlivosti (ambulancie)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="IdZPr" xmlns:q13="CEN/13606/RM" type="q13:II">
        <xs:annotation>
          <xs:documentation>ID zdravotníckeho pracovníka</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfNaplanovanaObjednavka">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NaplanovanaObjednavka" nillable="true" type="tns:NaplanovanaObjednavka" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NaplanovanaObjednavka">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TerminVysetrenia" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Dátum a čas vyšetrenia.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="1" maxOccurs="1" name="IdObjednavky" type="xs:int">
        <xs:annotation>
          <xs:documentation>ID objednávky</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="ExterneId" type="xs:string">
        <xs:annotation>
          <xs:documentation>ID pridelené objednávke v systéme ISPZS pre identifikáciu záznamu a kontrolu konzistencie dát.Bude spracované nasledovne: ISOO vyhľadá objednávku podľa IdObjednavky. Ak na objednávke nie je údaj ExterneId, tak ho uloží. Ak ExterneId už na objednávke je, tak ho skontroluje.V prípade, že sa údaj zaslaný z ISPZS líši s údajom v ISOO, pre danú objednávku je vrátená informácia o chybe. Ostatné objednávky z dávky budú spracované.</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element minOccurs="0" maxOccurs="1" name="IdKalendara" nillable="true" type="xs:int">
        <xs:annotation>
            <xs:documentation>Identifikátor kalendára, na ktorý je objednávka priradená. Systém kontroluje či termín vyšetrenia spadá do intervalov kalendára a vyhodnotí obsadenosť termínu. 
            Pre OH objednávky je ID kalendára povinné, lekár ho musí určiť pri potvrdzovaní objednávky.
            Pre DOH objednávky je ID kalendára nepovinné.Lekár môže vybaviť DOH objednávky aj mimo kalendára.</xs:documentation>
        </xs:annotation>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>

</xs:schema>
