src/main/resources/nczi-templates/ALOK/Xsd/eobjednanie/VyhladajObjednavkyVCase_v2_Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://eHealth.gov.sk/EzkReservation/v1" elementFormDefault="qualified" targetNamespace="http://eHealth.gov.sk/EzkReservation/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="CEN/13606/RM" schemaLocation="EN13606-RM.xsd"/>

  <xs:element name="VyhladajObjednavkyVCaseRequest" type="tns:VyhladajObjednavkyVCaseRequest" />

  <xs:complexType name="VyhladajObjednavkyVCaseRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IdKalendara" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:documentation>ID Kalendára súvisiaceho s objednávkou. Ak nie je zadaný, systém bude hľadať vo všetkých kalendároch PZS.</xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element minOccurs="0" maxOccurs="1" name="DatumObjednavkyOd" nillable="true" type="xs:dateTime">
            <xs:annotation>
            <xs:documentation>Interval Od pre ktorý sa budú vyhľadávať objednávky</xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element minOccurs="0" maxOccurs="1" name="DatumObjednavkyDo" nillable="true" type="xs:dateTime">
            <xs:annotation>
            <xs:documentation>Interval Do pre ktorý sa budú vyhľadávať objednávky</xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element minOccurs="0" maxOccurs="1" name="StavObjednavky" type="tns:ArrayOfStavObjednavky">
            <xs:annotation>
              <xs:documentation>Požadovaný stav objednávok, ktoré má systém vrátiť ako zoznam</xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element minOccurs="0" maxOccurs="1" name="TypObjednavky" type="tns:ArrayOfTypCasovehoIntervalu">
            <xs:annotation>
              <xs:documentation>Požadovaný typ objednávok (OTH, OH, DOH), ktoré má systém vrátiť ako zoznam</xs:documentation>
            </xs:annotation>
          </xs:element>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BaseRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdOUPZS" xmlns:q12="CEN/13606/RM" type="q12:II">
        <xs:annotation>
          <xs:documentation>ID OU poskytovateľa zdravotnej starostlivosti (ambulancie)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="IdZPr" xmlns:q13="CEN/13606/RM" type="q13:II">
        <xs:annotation>
          <xs:documentation>ID zdravotníckeho pracovníka</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfStavObjednavky">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StavObjednavky" type="tns:StavObjednavky" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="StavObjednavky">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nova" />
      <xs:enumeration value="Potvrdena" />
      <xs:enumeration value="Realizovana" />
      <xs:enumeration value="Zrusena" />
      <xs:enumeration value="PacientSaNedostavil" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ArrayOfTypCasovehoIntervalu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypCasovehoIntervalu" type="tns:TypCasovehoIntervalu" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TypCasovehoIntervalu">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OtvaracieHodiny" />
      <xs:enumeration value="OrdinacneHodiny" />
      <xs:enumeration value="DoplnkoveOrdinacneHodiny" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
