src/main/resources/nczi-templates/ALOK/Xsd/eobjednanie/ZapisNedostupnost_v2_Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://eHealth.gov.sk/EzkReservation/v1" elementFormDefault="qualified" targetNamespace="http://eHealth.gov.sk/EzkReservation/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="CEN/13606/RM" schemaLocation="EN13606-RM.xsd"/>

  <xs:element name="ZapisNedostupnostRequest" type="tns:ZapisNedostupnostRequest" />

  <xs:complexType name="ZapisNedostupnostRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestUna">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ZrusitObjednavky" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Príznak, či sa majú zrušiť existujúce objednávky ktoré sú naplánované počas Nedostupnosti.</xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element minOccurs="1" maxOccurs="1" name="Nedostupnosti" nillable="true" type="tns:ArrayOfNedostupnost">
            <xs:annotation>
              <xs:documentation>Pole Nedostupností</xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element minOccurs="1" maxOccurs="1" name="ehr_system" xmlns:q16="CEN/13606/RM" type="q16:IIEhrSystem">
            <xs:annotation>
              <xs:documentation>Identifikácia systému PZS, v ktorom bol záznam vytvorený. Max 50 znakov. Kód tvorcovi IS PZS vydáva prevádzkovateľ riešenia po prijatí žiadosti tvorcu IS PZS na overenie zhody.</xs:documentation>
            </xs:annotation>
          </xs:element>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BaseRequestUna">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdOUPZS" xmlns:q18="CEN/13606/RM" type="q18:II">
        <xs:annotation>
          <xs:documentation>ID Odborného Útvaru Poskytovateľa Zdravotnej Starostlivosti (OÚ PZS - ambulancie)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="IdZPr" xmlns:q19="CEN/13606/RM" type="q19:II">
        <xs:annotation>
          <xs:documentation>ID Zdravotníckeho Pracovníka</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfNedostupnost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nedostupnost" nillable="true" type="tns:Nedostupnost" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Nedostupnost">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DatumCasOd" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Začiatok nedostupnosti. Od tohto dátumu a času už OÚ PZS neposkytuje zdravotnú starostlivosť.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="1" maxOccurs="1" name="DatumCasDo" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Koniec nedostupnosti. Do tohto dátumu a času ešte OÚ PZS neposkytuje zdravotnú starostlivosť.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="IdNedostupnosti" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:documentation>Interný identifikátor v ISOO. Ak parameter nie je vyplnený, system vytvorí novú nedostupnosť. Ak je parameter vyplnený, systém zmení existujúcu nedostupnosť.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="IdKalendara" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:documentation>Kalendar, ku ktorému sa nedostupnosť vzťahuje.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="Poznamka" type="xs:string">
        <xs:annotation>
          <xs:documentation>Textová poznámka zadaná lekárom. Zobrazí sa na NZP. Pacientovi poskytuje dodatočnú informáciu, napríklad kto zastupuje počas nedostupnosti.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="1" maxOccurs="1" name="TypNedostupnosti" xmlns:q20="CEN/13606/RM" type="q20:CV">
        <xs:annotation>
          <xs:documentation>Referencia do číselníka 1.3.158.00165387.100.10.323.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="ZastupujeOuPZS" xmlns:q21="CEN/13606/RM" type="q21:II">
        <xs:annotation>
          <xs:documentation>JRUZ ID OÚ PZS, ktoré zastupuje počas nedostupnosti. Funkcionalita momentálne nie je podporovaná, bude realizovaná v balíku 2.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element minOccurs="0" maxOccurs="1" name="ExterneId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Externé ID pridelené IS PZS. Musí byť konzistentné s IdNedostupnosti.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
