src/main/resources/nczi-templates/EZKO/XSD/EzkJruzAgent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://eHealth.gov.sk/EzkJruzAgent/v1" elementFormDefault="qualified" targetNamespace="http://eHealth.gov.sk/EzkJruzAgent/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientPersonalInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PatientId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EncryptedBase64Data" type="xs:base64Binary">
	    <xs:annotation>
          <xs:documentation>
            Tento element predstavuje zasifrovane data, ktorych otvorena podoba je popisana v scheme JRUZ pre typ DajPrZS_Response a obalka sifrovanych dat je popisana v "SDSEnvelope.xsd"
          </xs:documentation>
        </xs:annotation>
	  </xs:element>
    </xs:sequence>
  </xs:complexType> 

  <xs:complexType name="PolozkaCiselnika">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Oid" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Kod" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nazov" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Skratka" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Verzia" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Parents" type="tns:ArrayOfPolozkaCiselnika" />
      <xs:element minOccurs="0" maxOccurs="1" name="Children" type="tns:ArrayOfPolozkaCiselnika" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ArrayOfPolozkaCiselnika">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolozkaCiselnika" nillable="true" type="tns:PolozkaCiselnika" />
    </xs:sequence>
  </xs:complexType>  
 
</xs:schema>