src/main/resources/nczi-templates/EZKO/XSD/ZapisPacientskehoSumaruKontaktneUdaje_v4_Data.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://eHealth.gov.sk/EzkPersonalDataManagement/v1" elementFormDefault="qualified" xmlns:tns="http://eHealth.gov.sk/EzkPersonalDataManagement/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:general="http://eHealth.gov.sk/EzkCommon/v1" xmlns:en13606="CEN/13606/RM">
  <xs:import namespace="CEN/13606/RM" schemaLocation="EN13606-RM.xsd"/>
  <xs:import namespace="http://eHealth.gov.sk/EzkCommon/v1" schemaLocation="EzkCommon.xsd"/>
  <xs:import namespace="http://eHealth.gov.sk/EzkCommon/v1" schemaLocation="EzkCommonCiselniky.xsd"/>
  <xs:include schemaLocation="SdsCommon.xsd" />

  <xs:element name="PacientskySumarKontaktneUdajeZapisPlain_v4" nillable="true" type="tns:PacientskySumarKontaktneUdajeZapis_v4" />
  <xs:complexType name="PacientskySumarKontaktneUdajeZapis_v4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InformacieOPacientovi_v4" type="tns:InformacieOPacientovi_v4">
        <xs:annotation>
          <xs:documentation>Kontaktné informácie o pacientovi (aktuálny pobyt). Aktualizovať ich môže lekár aj občan.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="KontaktneOsoby_v4" type="tns:ArrayOfKontaktnaOsoba_v4">
        <xs:annotation>
          <xs:documentation>Kontaktné osoby (ICE) pacienta.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InformacieOPacientovi_v4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EhrSystem" type="en13606:II">
        <xs:annotation>
          <xs:documentation>Identifikátor IS PZS. Pri zápise je povinný.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RcId" type="en13606:II">
        <xs:annotation>
          <xs:documentation>Identifikátor záznamu pridelený IS PZS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IdZaznamu" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>Identifikátor kontaktného údaju v NZIS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DatumZaznamenania" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Dátum a čas zaznamenania kontaktného údaju v NZIS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Autor" type="en13606:II">
        <xs:annotation>
          <xs:documentation>
            Autor záznamu kontaktného údaju.
            Pri zápise sa neuvádza, systém Autora odvodí z identity aktora volania.
            V prípade zdravotníckeho pracovníka je tu vložený jeho JRÚZ identifikátor.
            V prípade občana je v extension reťazec "Občan" a v oid reťazec "1.3.158.00165387.100.40.100_E2"
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LenNaCitanie" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Element sa pri zápise nevyužíva.
            Príznak, či je záznam určený len na čítanie alebo je možné ho upraviť cez službu ZapisPacientskehoSumaruKontaktneUdaje_v4, resp. zmazať cez službu ZrusKontaktneUdajePacientskehoSumaru_v4.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AdresaPacienta" type="tns:AdresaOsoby_v4">
        <xs:annotation>
          <xs:documentation>Adresa aktuálneho pobytu pacienta</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Poznamka">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TelefonPacienta" type="tns:PhoneNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailPacienta" type="tns:Email" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CeleMenoOsoby">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="KrstneMeno">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Priezvisko" >
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AdresaOsoby_v4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Ulica">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CisloPopisne">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="UzemnospravnaJednotka" type="general:IdPolozkaCiselnikaType">
        <xs:annotation>
          <xs:documentation>Položka z JRÚZ číselníka 1.3.158.00165387.100.10.43</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PSC" type="general:IdPolozkaCiselnikaType">
        <xs:annotation>
          <xs:documentation>Položka z JRÚZ číselníka 1.3.158.00165387.100.10.150</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Mesto" type="general:IdPolozkaCiselnikaType">
        <xs:annotation>
          <xs:documentation>Položka z JRÚZ číselníka 1.3.158.00165387.100.10.45</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Krajina" type="general:IdPolozkaCiselnikaType">
        <xs:annotation>
          <xs:documentation>Položka z JRÚZ číselníka 1.3.158.00165387.100.10.51</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfKontaktnaOsoba_v4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KontaktnaOsoba_v4" nillable="true" type="tns:KontaktnaOsoba_v4" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KontaktnaOsoba_v4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EhrSystem" type="en13606:II">
        <xs:annotation>
          <xs:documentation>Identifikátor IS PZS. Pri zápise je povinný.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RcId" type="en13606:II">
        <xs:annotation>
          <xs:documentation>Identifikátor záznamu pridelený IS PZS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IdZaznamu" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>Identifikátor kontaktného údaju v NZIS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DatumZaznamenania" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Dátum a čas zaznamenania kontaktného údaju v NZIS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Autor" type="en13606:II">
        <xs:annotation>
          <xs:documentation>
            Autor záznamu kontaktného údaju.
            Pri zápise sa neuvádza, systém Autora odvodí z identity aktora volania.
            V prípade zdravotníckeho pracovníka je tu vložený jeho JRÚZ identifikátor.
            V prípade občana je v extension reťazec "Občan" a v oid reťazec "1.3.158.00165387.100.40.100_E2"
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LenNaCitanie" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Element sa pri zápise nevyužíva.
            Príznak, či je záznam určený len na čítanie alebo je možné ho upraviť cez službu ZapisPacientskehoSumaruKontaktneUdaje_v4, resp. zmazať cez službu ZrusKontaktneUdajePacientskehoSumaru_v4.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Poznamka" >
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="TypKontaktu" type="general:IdPolozkaCiselnikaTypKontaktu">
        <xs:annotation>
          <xs:documentation>Položka z JRÚZ číselníka 1.3.158.00165387.100.10.54</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Meno" type="tns:CeleMenoOsoby" />
      <xs:element minOccurs="0" maxOccurs="1" name="Telefon" type="tns:PhoneNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="tns:Email" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>