src/main/resources/nczi-templates/MPD/XSD/MedikacnyZaznam/VyhladajMedikacneZaznamy_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://eHealth.gov.sk/MPD/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rm="CEN/13606/RM" xmlns="http://eHealth.gov.sk/MPD/v1" elementFormDefault="qualified">
  <xs:import namespace="CEN/13606/RM" schemaLocation="../../COMMON/TS14796-dataTypes.xsd" />
  <xs:include schemaLocation="../_shared/MPD_Identifikatory.xsd" />
  <xs:include schemaLocation="../_shared/MPD_IdCiselniky.xsd" />
  <xs:include schemaLocation="../_shared/MPD_Strankovanie.xsd" />
  <xs:element name="VyhladajMedikacneZaznamyVstup" type="VyhladajMedikacneZaznamyVstup" />
  <xs:complexType name="VyhladajMedikacneZaznamyVstup">
    <xs:annotation>
      <xs:documentation>Množina vyhľadávacích kritérií, na základe ktorých NZIS vráti zoznam medikačných záznamov. Pri ich vyhľadávaní sa použijú všetky zadané kritériá a pri nevhodnej kombinácii vstupov sa môže vrátiť prázdna množina.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AjStornovane" type="xs:boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Ak je TRUE tak do vyhľadávania budú vstupovať aj stornované medikačné záznamy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AktivnaMedikacia" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Rozhodnutie, či vo výstupe sú iba medikačné záznamy platné v čase kedy bola služba zavolaná, alebo v tom čase neplatné, alebo všetky medikačné záznamy bez ohľadu na ich platnosť. Prednastavená hodnota je True čo vo výsledku znamená zobrazenie aktuálne platných medikačných záznamov = aktívnu medikáciu. Nastavenie na False znamená zobrazenie neplatných medikačných záznamov, nevyplnennei hodnoty znamená zobrazenie medikačných záznamov bez ohľadu na ich platnosť.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AktivnyDo" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Vráti iba medikačné záznamy, ktorých aspoň časť intervalu aktívnosti je menší ako zadaný dátum (vrátane).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AktivnyOd" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Vráti iba medikačné záznamy, ktorých aspoň časť intervalu aktívnosti je väčší ako zadaný dátum (vrátane).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Atc" type="IdPolozkaCiselnikaATC" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Na výstupe vráti tie medikačné záznamy, ktoré obsahujú liek alebo liečivo z tejto vstupnej množiny kódov ATC klasifikácie (vyhľadávanie je v tomto prípade kaskádové). Ak na vstupe nebude takto identifikovaný žiaden ATC kód (prázdna množina na vstupe) tak sa podľa lieku a liečiva hľadanie obmedzovať nebude. Jej použitím sa ale automaticky do výsledkov nedostanú iné medikačné záznamy ako tie, ktoré obsahujú lieky a liečivá.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Diagnoza" type="IdPolozkaCiselnikaDiagnoza" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ak je tento zoznam prázdny, tak neovplyvňuje výber. Ak nie je prázdny, tak sa vyhľadajú iba medikačné záznamy, na ktorých je niektorá z diagnóz v zozname.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DietPotId" type="IdDietetickaPotravina" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Na výstupe vráti tie medikačné záznamy, ktoré obsahujú predpísané dietetické potraviny z tejto vstupnej množiny. Ak na vstupe nebude takto identifikovaná žiadna potravina (prázdna množina na vstupe) tak sa podľa dietetík hľadanie obmedzovať nebude. Jej použitím sa ale automaticky do výsledkov nedostanú iné medikačné záznamy ako tie, ktoré obsahujú predpísané dietetické potraviny.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FarmaceutickaSurovinaId" type="IdPolozkaCiselnikaFarmaceutickaSurovina" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Na výstupe vráti tie medikačné záznamy, ktoré obsahujú IPL so surovinou z tejto vstupnej množiny. Ak na vstupe nebude takto identifikovaná žiadna farmaceutická surovina (prázdna množina na vstupe), tak sa podľa farmaceutickej suroviny hľadanie obmedzovať nebude. Jej použitím sa automaticky do výsledkov nedostanú iné medikačné záznamy ako tie, ktoré obsahujú IPL.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdERecept" type="rm:II" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Identifikátor eReceptu v NZIS. Uvedením tohto identifikátora systém vo výstupe vráti len medikačné záznamy, patriace pod eRecepty s uvedenými identifikátormi.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdMedikacnyZaznam" type="rm:II" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Identifikátor medikačného záznamu v NZIS. Uvedením tohto identifikátora systém vo výstupe vráti len medikačné záznamy s uvedenými identifikátormi.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdPrijimatelZS" type="IdPrZS" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Šifrovaný identifikátor prijímateľa zdravotnej starostlivosti.
Vyhľadá medikačné záznamy tohto konkrétneho prijímateľa.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IgnorujDietPotr" type="xs:boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Výber, či NZIS vráti medikačné záznamy na ktorých sú dietetické potraviny. True -  medikačné záznamy, na ktorých sú diet. potr. ignoruje, nevráti ich. False - neignoruje, hľadá aj tie, na ktorých sú diet. potr. Neovplyňuje vyhľadávanie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IgnorujIPL" type="xs:boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Výber, či NZIS vráti medikačné záznamy na ktorých sú IPL. True -  medikačné záznamy na ktorých sú predpísanéIPL ignoruje, nevráti ich. False - neignoruje, hľadá aj tie, na ktorých sú IPL. Neovplyňuje vyhľadávanie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IgnorujLieky" type="xs:boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Výber, či NZIS vráti medikačné záznamy na ktorých sú lieky a liečivá. True -  medikačné záznamy na ktorých sú lieky alebo liečivá ignoruje, nevráti ich. False - neignoruje, hľadá aj tie, na ktorých sú lieky alebo liečivá. Neovplyňuje vyhľadávanie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IgnorujZdravPom" type="xs:boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Výber, či NZIS vráti medikačné záznamy, na ktorých sú zdravotnícke pomôcky. True -  medikačné záznamy, na ktorých sú zdrav. pom. ignoruje, nevráti ich. False - neignoruje, hľadá aj tie, na ktorých sú zdrav. pom. Neovplyňuje vyhľadávanie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LiekId" type="IdLiek" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Na výstupe vráti tie medikačné záznamy, ktoré obsahujú liek z tejto vstupnej množiny. Ak na vstupe nebude takto identifikovaný žiaden liek (prázdna množina na vstupe) tak sa podľa lieku hľadanie obmedzovať nebude. Jej použitím sa automaticky do výsledkov nedostanú iné medikačné záznamy ako tie, ktoré obsahujú lieky.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LiekReferencnaSkupinaId" type="IdReferencnaSkupina" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Na výstupe vráti tie záznamy, ktoré majú obsahujú liek z uvedenej referenčnej skupiny (referenčných skupín). Ak na vstupe nebude takto identifikovaná žiadna referenčná skupina (prázdna množina na vstupe) tak sa podľa referenčnej skupiny hľadanie obmedzovať nebude. Jej použitím sa automaticky do výsledkov nedostanú iné medikačné záznamy ako tie, ktoré obsahujú lieky.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OdporucajuciOdb" type="IdPolozkaCiselnikaZdravotnickaOdbornost" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktoré vznikli na základe receptu odporúčaného lekárom konkrétnej odbornosti.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OdporucajuciPZS" type="IdOUPZS" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktoré vznikli na základe receptu odporúčaného lekárom konkrétneho PZS.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OdporucajuciZPrac" type="IdZPr" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktoré vznikli na základe receptu odporúčaného konkrétnym lekárom.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PredpisujuciOdb" type="IdPolozkaCiselnikaZdravotnickaOdbornost" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktoré vznikli na základe predpísania alebo podania lekárom konkrétnej odbornosti.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PredpisujuciPZS" type="IdOUPZS" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktoré vznikli na základe predpísania alebo podania lekárom konkrétneho PZS.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PredpisujuciZPrac" type="IdZPr" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktoré vznikli na základe predpísania alebo podania konkrétnym lekárom.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VykonavajuciOdb" type="IdPolozkaCiselnikaZdravotnickaOdbornost" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktorých predmet medikácie podal lekár / sestra konkrétnej odbornosti.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VykonavajuciPZS" type="IdOUPZS" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktorých predmet medikácie podal konkrétny lekár / sestra konkrétneho PZS.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VykonavajuciZPrac" type="IdZPr" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktorých predmet medikácie podal konkrétny lekár / sestra.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZastupovanyOdb" type="IdPolozkaCiselnikaZdravotnickaOdbornost" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktoré vznikli na základe receptu predpísaného pri zastupovaní lekára konkrétnej odbornosti.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZastupovanyPZS" type="IdOUPZS" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktoré vznikli na základe receptu predpísaného pri zastupovaní lekárov konkrétneho PZS.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZastupovanyZPrac" type="IdZPr" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Vyhľadá medikačné záznamy, ktoré vznikli na základe receptu predpísaného pri zastupovaní konkrétneho lekára.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZdravPomId" type="IdZdravotnickaPomocka" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Na výstupe vráti tie medikačné záznamy, ktoré obsahujú predpísané zdravotnícke pomôcky z tejto vstupnej množiny. Ak na vstupe nebude takto identifikovaná žiadna pomôcka (prázdna množina na vstupe) tak sa podľa pomôcok hľadanie obmedzovať nebude. Jej použitím sa ale automaticky do výsledkov nedostanú iné medikačné záznamy ako tie, ktoré obsahujú zdravotnícke pomôcky.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Strankovanie" type="Strankovanie" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>